@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  background-color: #111;
  color: #fff;
}

@font-face {
  font-family: Gilroy;
  font-weight: 950;
  src: url(/src/assets/Gilroy/Gilroy-Black.ttf);
}

@font-face {
  font-family: Gilroy;
  font-weight: 900;
  src: url(/src/assets/Gilroy/Gilroy-Bold.ttf);
}

@font-face {
  font-family: Gilroy;
  font-weight: 600;
  src: url(/src/assets/Gilroy/Gilroy-SemiBold.ttf);
}

@font-face {
  font-family: Gilroy;
  font-weight: 400;
  src: url(/src/assets/Gilroy/Gilroy-Medium.ttf);
}

@font-face {
  font-family: Gilroy;
  font-weight: 200;
  src: url(/src/assets/Gilroy/Gilroy-Thin.ttf);
}

@font-face {
  font-family: Gilroy;
  font-weight: 100;
  src: url(/src/assets/Gilroy/Gilroy-UltraLight.ttf);
}

* {
  font-family: Gilroy;
}


::-webkit-scrollbar{
 display: none;
}

.vido {
  background-image: url(./assets/Images/Loading/LOAD.gif);
  background-size: cover;
  background-position: center;
}

.right-img {
  background-image: url("./assets/Images/Navbar/Ad-removebg-preview.png");
  background-size: cover;
  background-position: center;
  outline-color: transparent;
  width: 100%;
  height: 100%;
}


/* Home */

/* .svg {
  background-image: url(./assets/Svg/ooorganize.svg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
} */


.hero-img {
  background-image: url(./assets/Images/Products/Hero-img.webp
  );
  background-size: cover;
  background-position: center;
}